<%= form_for(@hostname) do |f| %>
  <% if @hostname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hostname.errors.count, "error") %> prohibited this alias from being saved:</h2>
      <ul>
      <% @hostname.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field alias">
    <div class="row collapse">
      <div class="small-9 columns">
        <%= f.text_field :name, disabled: true %>
      </div>
      <div class="small-3 columns">
        <span class="postfix">.alias.re</span>
      </div>
    </div>
  </div>
  <div class="field ipaddress">
    <i class="fi-arrow-right large"></i>
    <%= f.text_field :ipaddress %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'button' %>
  </div>
<% end %>
