<div class="row masthead">
  <div class="large-12 columns">
    <h1>My Aliases</h1>
      <table>
        <tbody>
        <% @hostnames.each do |hostname| %>
          <tr>
            <td class="alias"><%= hostname.fqdn %></td>
            <td class="alias"><i class="fi-arrow-right large"></i></td>
            <td class="alias"><%= hostname.ipaddress %></td>
            <td><%= link_to 'Update', edit_hostname_path(hostname) %></td>
            <td><%= link_to 'Delete', hostname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'New Alias', new_hostname_path, class: 'button' %>
  </div>
</div>
